@charset "utf-8";

/*Bloques para maquetar contenido*/

body {
    overflow-x: hidden;
}
#bloque {
	margin-top: 40px;
	display:inline-block;
}
#bloque_vacio {
	display:inline-block;
}

#bloque_33 {
	display:inline-block;
	float: left;
	width: 33%
}
#bloque_66 {
	display:inline-block;
	float: left;
	width: 60%;

}
#bloque_25 {
	display:inline-block;
	float: left;
	width: 25%;
}
#bloque_20 {
	display:inline-block;
	float: left;
	width: 20%;
}
#bloque_50 {
	display:inline-block;
	float: left;
	width: 50%;
}

/*Menu*/

#menu {
	margin-left: auto;
	padding-top:50px;
	margin-right: auto;
	position: relative;
	width: 960px;
	height: 50px;
	z-index: 1000;
}

#menu_boton_inicio {
	display: inline-block;
	margin-left:10px;
	min-width:50px;

}

#menu_boton {
	display: inline-block;
	margin-left:20px;
	min-width:50px;
	vertical-align: super;
}


#Layer {
	height: 100%;
	left: 50%;
	margin: 0 0 0 -1288px;
	position: absolute;
	top: 0;
	width: 2576px;
}
#Layer_Contacto_Compania {
	color:#D3E4E3;
	top: 15px; 
	position: relative; 
	left:10px; 
	margin-left: auto;     
	margin-right: auto; 
	width: 960px;
}
#cabecera {
	margin-left: auto;
	margin-right: auto;
	position: relative;
	height: 100px;
	background: url(/Athagon\ -\ Save\ The\ Orcs\ de\ Echoboom\ Apps_files/patron-cabecera.png);


}
#pie {
	margin-left: auto;
	margin-right: auto;
	position: relative;
	background: #1d1d1d url(../images/patron-pie.png)  repeat-x;
}
#contenidos {
	margin-left: auto;
	margin-right: auto;
	position: relative;
	width: 980px;
	padding-bottom: 30px;
}
#Pie_menu {
	padding-top: 40px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	width: 980px;
	padding-bottom: 30px;
}
#imagen_cabecera {
	overflow: hidden;
	position: relative;
	width: 100%;
	z-index: 0;
	background: url(../images/baner_web.jpg) no-repeat 50%;
	height: 460px;
}
#imagen_cabecera_servicio {
	overflow: hidden;
	position: relative;
	width: 100%;
	z-index: 0;
	background: url(../images/baner_servicio.jpg) no-repeat 50%;
	height: 350px;
}

#imagen_cabecera_compania {
	overflow: hidden;
	position: relative;
	width: 100%;
	z-index: 0;
	background: url(../images/baner_compania.jpg) no-repeat 50%;
	height: 350px;
}

#imagen_cabecera_servicio_2 {
	overflow: hidden;
	position: relative;
	width: 100%;
	z-index: 0;
	background: url(../images/baner_servicio2.jpg) no-repeat 50%;
	height: 350px;
}

#imagen_cabecera_servicio_3 {
	overflow: hidden;
	position: relative;
	width: 100%;
	z-index: 0;
	background: url(../images/baner_servicio3.jpg) no-repeat 50%;
	height: 350px;
}

#imagen_SLR {
	overflow: hidden;
	position: relative;
	width: 100%;
	z-index: 0;
	background: url(../images/baner_SLR.jpg) no-repeat 50%;
	height: 350px;
}

#imagen_orcs {
	overflow: hidden;
	position: relative;
	width: 100%;
	z-index: 0;
	background: url(/Athagon\ -\ Save\ The\ Orcs\ de\ Echoboom\ Apps_files/baner_navidad.jpg) no-repeat 50%;
	height: 460px;
}

/** Exequiel Gualtieri **/

body {
    margin: 0;
}

#Layer {
	margin: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
	width: inherit;
	position: initial;
}
#cabecera {
    margin-left: inherit;
    margin-right: inherit;
}
#menu {
	display: flex;
	justify-content: center;
}

#pie {
	margin: 0;
}
