.snow {
  position: absolute;
  width: 10px;
  height: 10px;
  background: white;
  border-radius: 50%;
}
.snow:nth-child(1) {
  opacity: 0.1925;
  transform: translate(76.7681vw, -10px) scale(0.8545);
  animation: fall-1 16s -11s linear infinite;
}
@keyframes fall-1 {
  32.933% {
    transform: translate(66.9362vw, 32.933vh) scale(0.8545);
  }
  to {
    transform: translate(71.85215vw, 100vh) scale(0.8545);
  }
}
.snow:nth-child(2) {
  opacity: 0.2199;
  transform: translate(34.9976vw, -10px) scale(0.1614);
  animation: fall-2 25s -11s linear infinite;
}
@keyframes fall-2 {
  77.422% {
    transform: translate(32.6959vw, 77.422vh) scale(0.1614);
  }
  to {
    transform: translate(33.84675vw, 100vh) scale(0.1614);
  }
}
.snow:nth-child(3) {
  opacity: 0.3913;
  transform: translate(96.4302vw, -10px) scale(0.5994);
  animation: fall-3 30s -13s linear infinite;
}
@keyframes fall-3 {
  33.663% {
    transform: translate(102.5874vw, 33.663vh) scale(0.5994);
  }
  to {
    transform: translate(99.5088vw, 100vh) scale(0.5994);
  }
}
.snow:nth-child(4) {
  opacity: 0.0156;
  transform: translate(36.0428vw, -10px) scale(0.3332);
  animation: fall-4 10s -5s linear infinite;
}
@keyframes fall-4 {
  79.637% {
    transform: translate(36.26vw, 79.637vh) scale(0.3332);
  }
  to {
    transform: translate(36.1514vw, 100vh) scale(0.3332);
  }
}
.snow:nth-child(5) {
  opacity: 0.8114;
  transform: translate(66.1812vw, -10px) scale(0.9698);
  animation: fall-5 26s -16s linear infinite;
}
@keyframes fall-5 {
  37.853% {
    transform: translate(67.1236vw, 37.853vh) scale(0.9698);
  }
  to {
    transform: translate(66.6524vw, 100vh) scale(0.9698);
  }
}
.snow:nth-child(6) {
  opacity: 0.3135;
  transform: translate(77.1739vw, -10px) scale(0.4455);
  animation: fall-6 14s -5s linear infinite;
}
@keyframes fall-6 {
  35.339% {
    transform: translate(70.0574vw, 35.339vh) scale(0.4455);
  }
  to {
    transform: translate(73.61565vw, 100vh) scale(0.4455);
  }
}
.snow:nth-child(7) {
  opacity: 0.1981;
  transform: translate(29.5268vw, -10px) scale(0.5217);
  animation: fall-7 25s -2s linear infinite;
}
@keyframes fall-7 {
  58.92% {
    transform: translate(20.9348vw, 58.92vh) scale(0.5217);
  }
  to {
    transform: translate(25.2308vw, 100vh) scale(0.5217);
  }
}
.snow:nth-child(8) {
  opacity: 0.1791;
  transform: translate(76.8693vw, -10px) scale(0.0675);
  animation: fall-8 10s -29s linear infinite;
}
@keyframes fall-8 {
  70.728% {
    transform: translate(69.8772vw, 70.728vh) scale(0.0675);
  }
  to {
    transform: translate(73.37325vw, 100vh) scale(0.0675);
  }
}
.snow:nth-child(9) {
  opacity: 0.115;
  transform: translate(95.0876vw, -10px) scale(0.1963);
  animation: fall-9 21s -26s linear infinite;
}
@keyframes fall-9 {
  45.273% {
    transform: translate(103.7121vw, 45.273vh) scale(0.1963);
  }
  to {
    transform: translate(99.39985vw, 100vh) scale(0.1963);
  }
}
.snow:nth-child(10) {
  opacity: 0.5042;
  transform: translate(61.4898vw, -10px) scale(0.8162);
  animation: fall-10 22s -2s linear infinite;
}
@keyframes fall-10 {
  56.535% {
    transform: translate(69.8016vw, 56.535vh) scale(0.8162);
  }
  to {
    transform: translate(65.6457vw, 100vh) scale(0.8162);
  }
}
.snow:nth-child(11) {
  opacity: 0.8307;
  transform: translate(76.541vw, -10px) scale(0.8658);
  animation: fall-11 27s -11s linear infinite;
}
@keyframes fall-11 {
  57.71% {
    transform: translate(77.0634vw, 57.71vh) scale(0.8658);
  }
  to {
    transform: translate(76.8022vw, 100vh) scale(0.8658);
  }
}
.snow:nth-child(12) {
  opacity: 0.2409;
  transform: translate(77.8664vw, -10px) scale(0.6439);
  animation: fall-12 23s -24s linear infinite;
}
@keyframes fall-12 {
  58.388% {
    transform: translate(76.7124vw, 58.388vh) scale(0.6439);
  }
  to {
    transform: translate(77.2894vw, 100vh) scale(0.6439);
  }
}
.snow:nth-child(13) {
  opacity: 0.456;
  transform: translate(10.2605vw, -10px) scale(0.6554);
  animation: fall-13 15s -29s linear infinite;
}
@keyframes fall-13 {
  59.712% {
    transform: translate(4.6592vw, 59.712vh) scale(0.6554);
  }
  to {
    transform: translate(7.45985vw, 100vh) scale(0.6554);
  }
}
.snow:nth-child(14) {
  opacity: 0.7338;
  transform: translate(32.3215vw, -10px) scale(0.7065);
  animation: fall-14 20s -7s linear infinite;
}
@keyframes fall-14 {
  67.852% {
    transform: translate(41.5145vw, 67.852vh) scale(0.7065);
  }
  to {
    transform: translate(36.918vw, 100vh) scale(0.7065);
  }
}
.snow:nth-child(15) {
  opacity: 0.0582;
  transform: translate(44.134vw, -10px) scale(0.5683);
  animation: fall-15 10s -1s linear infinite;
}
@keyframes fall-15 {
  77.9% {
    transform: translate(34.4648vw, 77.9vh) scale(0.5683);
  }
  to {
    transform: translate(39.2994vw, 100vh) scale(0.5683);
  }
}
.snow:nth-child(16) {
  opacity: 0.6267;
  transform: translate(45.6135vw, -10px) scale(0.4457);
  animation: fall-16 13s -5s linear infinite;
}
@keyframes fall-16 {
  51.459% {
    transform: translate(41.6469vw, 51.459vh) scale(0.4457);
  }
  to {
    transform: translate(43.6302vw, 100vh) scale(0.4457);
  }
}
.snow:nth-child(17) {
  opacity: 0.2914;
  transform: translate(91.2199vw, -10px) scale(0.7934);
  animation: fall-17 14s -28s linear infinite;
}
@keyframes fall-17 {
  46.752% {
    transform: translate(95.9288vw, 46.752vh) scale(0.7934);
  }
  to {
    transform: translate(93.57435vw, 100vh) scale(0.7934);
  }
}
.snow:nth-child(18) {
  opacity: 0.3051;
  transform: translate(13.7947vw, -10px) scale(0.6644);
  animation: fall-18 29s -27s linear infinite;
}
@keyframes fall-18 {
  39.607% {
    transform: translate(13.9698vw, 39.607vh) scale(0.6644);
  }
  to {
    transform: translate(13.88225vw, 100vh) scale(0.6644);
  }
}
.snow:nth-child(19) {
  opacity: 0.0151;
  transform: translate(21.104vw, -10px) scale(0.7961);
  animation: fall-19 28s -4s linear infinite;
}
@keyframes fall-19 {
  66.962% {
    transform: translate(23.6011vw, 66.962vh) scale(0.7961);
  }
  to {
    transform: translate(22.35255vw, 100vh) scale(0.7961);
  }
}
.snow:nth-child(20) {
  opacity: 0.79;
  transform: translate(97.3123vw, -10px) scale(0.1504);
  animation: fall-20 24s -8s linear infinite;
}
@keyframes fall-20 {
  33.064% {
    transform: translate(107.1082vw, 33.064vh) scale(0.1504);
  }
  to {
    transform: translate(102.21025vw, 100vh) scale(0.1504);
  }
}
.snow:nth-child(21) {
  opacity: 0.4159;
  transform: translate(96.1227vw, -10px) scale(0.4083);
  animation: fall-21 21s -1s linear infinite;
}
@keyframes fall-21 {
  32.325% {
    transform: translate(87.0563vw, 32.325vh) scale(0.4083);
  }
  to {
    transform: translate(91.5895vw, 100vh) scale(0.4083);
  }
}
.snow:nth-child(22) {
  opacity: 0.2869;
  transform: translate(63.1581vw, -10px) scale(0.0774);
  animation: fall-22 11s -8s linear infinite;
}
@keyframes fall-22 {
  42.44% {
    transform: translate(66.4926vw, 42.44vh) scale(0.0774);
  }
  to {
    transform: translate(64.82535vw, 100vh) scale(0.0774);
  }
}
.snow:nth-child(23) {
  opacity: 0.0251;
  transform: translate(92.2504vw, -10px) scale(0.2086);
  animation: fall-23 15s -9s linear infinite;
}
@keyframes fall-23 {
  56.954% {
    transform: translate(93.6709vw, 56.954vh) scale(0.2086);
  }
  to {
    transform: translate(92.96065vw, 100vh) scale(0.2086);
  }
}
.snow:nth-child(24) {
  opacity: 0.9242;
  transform: translate(25.3128vw, -10px) scale(0.6252);
  animation: fall-24 17s -20s linear infinite;
}
@keyframes fall-24 {
  58.038% {
    transform: translate(31.8621vw, 58.038vh) scale(0.6252);
  }
  to {
    transform: translate(28.58745vw, 100vh) scale(0.6252);
  }
}
.snow:nth-child(25) {
  opacity: 0.547;
  transform: translate(56.6281vw, -10px) scale(0.4501);
  animation: fall-25 27s -22s linear infinite;
}
@keyframes fall-25 {
  66.619% {
    transform: translate(50.101vw, 66.619vh) scale(0.4501);
  }
  to {
    transform: translate(53.36455vw, 100vh) scale(0.4501);
  }
}
.snow:nth-child(26) {
  opacity: 0.4082;
  transform: translate(14.1792vw, -10px) scale(0.2552);
  animation: fall-26 18s -20s linear infinite;
}
@keyframes fall-26 {
  62.226% {
    transform: translate(9.266vw, 62.226vh) scale(0.2552);
  }
  to {
    transform: translate(11.7226vw, 100vh) scale(0.2552);
  }
}
.snow:nth-child(27) {
  opacity: 0.3186;
  transform: translate(27.0356vw, -10px) scale(0.9314);
  animation: fall-27 15s -12s linear infinite;
}
@keyframes fall-27 {
  61.553% {
    transform: translate(29.343vw, 61.553vh) scale(0.9314);
  }
  to {
    transform: translate(28.1893vw, 100vh) scale(0.9314);
  }
}
.snow:nth-child(28) {
  opacity: 0.6373;
  transform: translate(2.692vw, -10px) scale(0.7441);
  animation: fall-28 11s -10s linear infinite;
}
@keyframes fall-28 {
  52.683% {
    transform: translate(-2.5665vw, 52.683vh) scale(0.7441);
  }
  to {
    transform: translate(0.06275vw, 100vh) scale(0.7441);
  }
}
.snow:nth-child(29) {
  opacity: 0.3916;
  transform: translate(97.9709vw, -10px) scale(0.591);
  animation: fall-29 19s -16s linear infinite;
}
@keyframes fall-29 {
  79.83% {
    transform: translate(99.192vw, 79.83vh) scale(0.591);
  }
  to {
    transform: translate(98.58145vw, 100vh) scale(0.591);
  }
}
.snow:nth-child(30) {
  opacity: 0.7675;
  transform: translate(28.3581vw, -10px) scale(0.7359);
  animation: fall-30 27s -19s linear infinite;
}
@keyframes fall-30 {
  64.346% {
    transform: translate(36.2588vw, 64.346vh) scale(0.7359);
  }
  to {
    transform: translate(32.30845vw, 100vh) scale(0.7359);
  }
}
.snow:nth-child(31) {
  opacity: 0.0205;
  transform: translate(82.1981vw, -10px) scale(0.522);
  animation: fall-31 18s -6s linear infinite;
}
@keyframes fall-31 {
  40.961% {
    transform: translate(75.002vw, 40.961vh) scale(0.522);
  }
  to {
    transform: translate(78.60005vw, 100vh) scale(0.522);
  }
}
.snow:nth-child(32) {
  opacity: 0.7465;
  transform: translate(46.4421vw, -10px) scale(0.8877);
  animation: fall-32 14s -23s linear infinite;
}
@keyframes fall-32 {
  76.912% {
    transform: translate(39.8961vw, 76.912vh) scale(0.8877);
  }
  to {
    transform: translate(43.1691vw, 100vh) scale(0.8877);
  }
}
.snow:nth-child(33) {
  opacity: 0.3065;
  transform: translate(14.0851vw, -10px) scale(0.5695);
  animation: fall-33 10s -7s linear infinite;
}
@keyframes fall-33 {
  37.915% {
    transform: translate(5.4019vw, 37.915vh) scale(0.5695);
  }
  to {
    transform: translate(9.7435vw, 100vh) scale(0.5695);
  }
}
.snow:nth-child(34) {
  opacity: 0.1028;
  transform: translate(94.9374vw, -10px) scale(0.0543);
  animation: fall-34 18s -9s linear infinite;
}
@keyframes fall-34 {
  40.559% {
    transform: translate(104.88vw, 40.559vh) scale(0.0543);
  }
  to {
    transform: translate(99.9087vw, 100vh) scale(0.0543);
  }
}
.snow:nth-child(35) {
  opacity: 0.0101;
  transform: translate(39.0684vw, -10px) scale(0.8192);
  animation: fall-35 22s -27s linear infinite;
}
@keyframes fall-35 {
  65.784% {
    transform: translate(32.8331vw, 65.784vh) scale(0.8192);
  }
  to {
    transform: translate(35.95075vw, 100vh) scale(0.8192);
  }
}
.snow:nth-child(36) {
  opacity: 0.9668;
  transform: translate(74.3424vw, -10px) scale(0.0225);
  animation: fall-36 23s -1s linear infinite;
}
@keyframes fall-36 {
  71.946% {
    transform: translate(66.4742vw, 71.946vh) scale(0.0225);
  }
  to {
    transform: translate(70.4083vw, 100vh) scale(0.0225);
  }
}
.snow:nth-child(37) {
  opacity: 0.2957;
  transform: translate(82.1406vw, -10px) scale(0.2815);
  animation: fall-37 26s -21s linear infinite;
}
@keyframes fall-37 {
  30.818% {
    transform: translate(73.7104vw, 30.818vh) scale(0.2815);
  }
  to {
    transform: translate(77.9255vw, 100vh) scale(0.2815);
  }
}
.snow:nth-child(38) {
  opacity: 0.1569;
  transform: translate(19.0438vw, -10px) scale(0.2781);
  animation: fall-38 15s -10s linear infinite;
}
@keyframes fall-38 {
  41.576% {
    transform: translate(22.9882vw, 41.576vh) scale(0.2781);
  }
  to {
    transform: translate(21.016vw, 100vh) scale(0.2781);
  }
}
.snow:nth-child(39) {
  opacity: 0.9542;
  transform: translate(58.8643vw, -10px) scale(0.3792);
  animation: fall-39 29s -5s linear infinite;
}
@keyframes fall-39 {
  51.879% {
    transform: translate(68.8591vw, 51.879vh) scale(0.3792);
  }
  to {
    transform: translate(63.8617vw, 100vh) scale(0.3792);
  }
}
.snow:nth-child(40) {
  opacity: 0.3395;
  transform: translate(55.5788vw, -10px) scale(0.9528);
  animation: fall-40 20s -12s linear infinite;
}
@keyframes fall-40 {
  42.804% {
    transform: translate(47.6191vw, 42.804vh) scale(0.9528);
  }
  to {
    transform: translate(51.59895vw, 100vh) scale(0.9528);
  }
}
.snow:nth-child(41) {
  opacity: 0.6639;
  transform: translate(49.607vw, -10px) scale(0.5174);
  animation: fall-41 19s -15s linear infinite;
}
@keyframes fall-41 {
  47.698% {
    transform: translate(55.2452vw, 47.698vh) scale(0.5174);
  }
  to {
    transform: translate(52.4261vw, 100vh) scale(0.5174);
  }
}
.snow:nth-child(42) {
  opacity: 0.1782;
  transform: translate(32.8266vw, -10px) scale(0.2913);
  animation: fall-42 13s -14s linear infinite;
}
@keyframes fall-42 {
  52.683% {
    transform: translate(41.8595vw, 52.683vh) scale(0.2913);
  }
  to {
    transform: translate(37.34305vw, 100vh) scale(0.2913);
  }
}
.snow:nth-child(43) {
  opacity: 0.084;
  transform: translate(92.7842vw, -10px) scale(0.0274);
  animation: fall-43 24s -15s linear infinite;
}
@keyframes fall-43 {
  47.615% {
    transform: translate(101.0903vw, 47.615vh) scale(0.0274);
  }
  to {
    transform: translate(96.93725vw, 100vh) scale(0.0274);
  }
}
.snow:nth-child(44) {
  opacity: 0.5326;
  transform: translate(12.0279vw, -10px) scale(0.2583);
  animation: fall-44 19s -3s linear infinite;
}
@keyframes fall-44 {
  62.286% {
    transform: translate(5.4849vw, 62.286vh) scale(0.2583);
  }
  to {
    transform: translate(8.7564vw, 100vh) scale(0.2583);
  }
}
.snow:nth-child(45) {
  opacity: 0.5196;
  transform: translate(79.374vw, -10px) scale(0.9984);
  animation: fall-45 17s -9s linear infinite;
}
@keyframes fall-45 {
  75.548% {
    transform: translate(82.8341vw, 75.548vh) scale(0.9984);
  }
  to {
    transform: translate(81.10405vw, 100vh) scale(0.9984);
  }
}
.snow:nth-child(46) {
  opacity: 0.9128;
  transform: translate(58.4331vw, -10px) scale(0.91);
  animation: fall-46 13s -19s linear infinite;
}
@keyframes fall-46 {
  76.032% {
    transform: translate(55.2221vw, 76.032vh) scale(0.91);
  }
  to {
    transform: translate(56.8276vw, 100vh) scale(0.91);
  }
}
.snow:nth-child(47) {
  opacity: 0.2812;
  transform: translate(23.1983vw, -10px) scale(0.8817);
  animation: fall-47 11s -10s linear infinite;
}
@keyframes fall-47 {
  39.378% {
    transform: translate(31.3731vw, 39.378vh) scale(0.8817);
  }
  to {
    transform: translate(27.2857vw, 100vh) scale(0.8817);
  }
}
.snow:nth-child(48) {
  opacity: 0.9171;
  transform: translate(2.6245vw, -10px) scale(0.7715);
  animation: fall-48 27s -30s linear infinite;
}
@keyframes fall-48 {
  70.939% {
    transform: translate(2.9341vw, 70.939vh) scale(0.7715);
  }
  to {
    transform: translate(2.7793vw, 100vh) scale(0.7715);
  }
}
.snow:nth-child(49) {
  opacity: 0.1385;
  transform: translate(48.1556vw, -10px) scale(0.4498);
  animation: fall-49 20s -5s linear infinite;
}
@keyframes fall-49 {
  71.325% {
    transform: translate(45.8094vw, 71.325vh) scale(0.4498);
  }
  to {
    transform: translate(46.9825vw, 100vh) scale(0.4498);
  }
}
.snow:nth-child(50) {
  opacity: 0.1306;
  transform: translate(9.8241vw, -10px) scale(0.2255);
  animation: fall-50 18s -11s linear infinite;
}
@keyframes fall-50 {
  66.562% {
    transform: translate(19.0331vw, 66.562vh) scale(0.2255);
  }
  to {
    transform: translate(14.4286vw, 100vh) scale(0.2255);
  }
}
.snow:nth-child(51) {
  opacity: 0.1349;
  transform: translate(79.1098vw, -10px) scale(0.923);
  animation: fall-51 10s -1s linear infinite;
}
@keyframes fall-51 {
  38.898% {
    transform: translate(69.7957vw, 38.898vh) scale(0.923);
  }
  to {
    transform: translate(74.45275vw, 100vh) scale(0.923);
  }
}
.snow:nth-child(52) {
  opacity: 0.8905;
  transform: translate(15.7093vw, -10px) scale(0.17);
  animation: fall-52 26s -20s linear infinite;
}
@keyframes fall-52 {
  34.489% {
    transform: translate(19.8816vw, 34.489vh) scale(0.17);
  }
  to {
    transform: translate(17.79545vw, 100vh) scale(0.17);
  }
}
.snow:nth-child(53) {
  opacity: 0.772;
  transform: translate(35.4502vw, -10px) scale(0.2682);
  animation: fall-53 13s -13s linear infinite;
}
@keyframes fall-53 {
  33.888% {
    transform: translate(42.9176vw, 33.888vh) scale(0.2682);
  }
  to {
    transform: translate(39.1839vw, 100vh) scale(0.2682);
  }
}
.snow:nth-child(54) {
  opacity: 0.3313;
  transform: translate(12.9172vw, -10px) scale(0.2705);
  animation: fall-54 14s -28s linear infinite;
}
@keyframes fall-54 {
  31.104% {
    transform: translate(14.7801vw, 31.104vh) scale(0.2705);
  }
  to {
    transform: translate(13.84865vw, 100vh) scale(0.2705);
  }
}
.snow:nth-child(55) {
  opacity: 0.7697;
  transform: translate(73.5704vw, -10px) scale(0.0418);
  animation: fall-55 14s -28s linear infinite;
}
@keyframes fall-55 {
  42.456% {
    transform: translate(76.5936vw, 42.456vh) scale(0.0418);
  }
  to {
    transform: translate(75.082vw, 100vh) scale(0.0418);
  }
}
.snow:nth-child(56) {
  opacity: 0.5435;
  transform: translate(62.661vw, -10px) scale(0.4506);
  animation: fall-56 11s -24s linear infinite;
}
@keyframes fall-56 {
  70.25% {
    transform: translate(68.4075vw, 70.25vh) scale(0.4506);
  }
  to {
    transform: translate(65.53425vw, 100vh) scale(0.4506);
  }
}
.snow:nth-child(57) {
  opacity: 0.2048;
  transform: translate(75.0151vw, -10px) scale(0.3949);
  animation: fall-57 12s -27s linear infinite;
}
@keyframes fall-57 {
  34.551% {
    transform: translate(70.191vw, 34.551vh) scale(0.3949);
  }
  to {
    transform: translate(72.60305vw, 100vh) scale(0.3949);
  }
}
.snow:nth-child(58) {
  opacity: 0.3102;
  transform: translate(30.8151vw, -10px) scale(0.0817);
  animation: fall-58 16s -5s linear infinite;
}
@keyframes fall-58 {
  60.045% {
    transform: translate(35.6972vw, 60.045vh) scale(0.0817);
  }
  to {
    transform: translate(33.25615vw, 100vh) scale(0.0817);
  }
}
.snow:nth-child(59) {
  opacity: 0.9379;
  transform: translate(92.2173vw, -10px) scale(0.6952);
  animation: fall-59 12s -3s linear infinite;
}
@keyframes fall-59 {
  46.446% {
    transform: translate(101.0576vw, 46.446vh) scale(0.6952);
  }
  to {
    transform: translate(96.63745vw, 100vh) scale(0.6952);
  }
}
.snow:nth-child(60) {
  opacity: 0.6506;
  transform: translate(32.3639vw, -10px) scale(0.3006);
  animation: fall-60 14s -9s linear infinite;
}
@keyframes fall-60 {
  44.368% {
    transform: translate(41.1669vw, 44.368vh) scale(0.3006);
  }
  to {
    transform: translate(36.7654vw, 100vh) scale(0.3006);
  }
}
.snow:nth-child(61) {
  opacity: 0.867;
  transform: translate(84.1727vw, -10px) scale(0.527);
  animation: fall-61 29s -22s linear infinite;
}
@keyframes fall-61 {
  63.138% {
    transform: translate(74.1898vw, 63.138vh) scale(0.527);
  }
  to {
    transform: translate(79.18125vw, 100vh) scale(0.527);
  }
}
.snow:nth-child(62) {
  opacity: 0.0524;
  transform: translate(37.8591vw, -10px) scale(0.2028);
  animation: fall-62 12s -5s linear infinite;
}
@keyframes fall-62 {
  41.225% {
    transform: translate(28.4018vw, 41.225vh) scale(0.2028);
  }
  to {
    transform: translate(33.13045vw, 100vh) scale(0.2028);
  }
}
.snow:nth-child(63) {
  opacity: 0.8408;
  transform: translate(81.5387vw, -10px) scale(0.6131);
  animation: fall-63 21s -11s linear infinite;
}
@keyframes fall-63 {
  45.173% {
    transform: translate(84.6186vw, 45.173vh) scale(0.6131);
  }
  to {
    transform: translate(83.07865vw, 100vh) scale(0.6131);
  }
}
.snow:nth-child(64) {
  opacity: 0.6521;
  transform: translate(94.9232vw, -10px) scale(0.6211);
  animation: fall-64 20s -12s linear infinite;
}
@keyframes fall-64 {
  66.471% {
    transform: translate(91.4585vw, 66.471vh) scale(0.6211);
  }
  to {
    transform: translate(93.19085vw, 100vh) scale(0.6211);
  }
}
.snow:nth-child(65) {
  opacity: 0.2946;
  transform: translate(97.6072vw, -10px) scale(0.1047);
  animation: fall-65 27s -8s linear infinite;
}
@keyframes fall-65 {
  36.228% {
    transform: translate(93.778vw, 36.228vh) scale(0.1047);
  }
  to {
    transform: translate(95.6926vw, 100vh) scale(0.1047);
  }
}
.snow:nth-child(66) {
  opacity: 0.2079;
  transform: translate(50.8984vw, -10px) scale(0.2956);
  animation: fall-66 13s -6s linear infinite;
}
@keyframes fall-66 {
  69.946% {
    transform: translate(44.7139vw, 69.946vh) scale(0.2956);
  }
  to {
    transform: translate(47.80615vw, 100vh) scale(0.2956);
  }
}
.snow:nth-child(67) {
  opacity: 0.7177;
  transform: translate(36.9997vw, -10px) scale(0.8953);
  animation: fall-67 16s -12s linear infinite;
}
@keyframes fall-67 {
  48.831% {
    transform: translate(41.1976vw, 48.831vh) scale(0.8953);
  }
  to {
    transform: translate(39.09865vw, 100vh) scale(0.8953);
  }
}
.snow:nth-child(68) {
  opacity: 0.8919;
  transform: translate(53.8786vw, -10px) scale(0.98);
  animation: fall-68 20s -11s linear infinite;
}
@keyframes fall-68 {
  73.26% {
    transform: translate(50.2842vw, 73.26vh) scale(0.98);
  }
  to {
    transform: translate(52.0814vw, 100vh) scale(0.98);
  }
}
.snow:nth-child(69) {
  opacity: 0.5471;
  transform: translate(83.5607vw, -10px) scale(0.7206);
  animation: fall-69 28s -8s linear infinite;
}
@keyframes fall-69 {
  33.988% {
    transform: translate(79.4609vw, 33.988vh) scale(0.7206);
  }
  to {
    transform: translate(81.5108vw, 100vh) scale(0.7206);
  }
}
.snow:nth-child(70) {
  opacity: 0.0931;
  transform: translate(29.8854vw, -10px) scale(0.9196);
  animation: fall-70 12s -8s linear infinite;
}
@keyframes fall-70 {
  65.247% {
    transform: translate(20.5341vw, 65.247vh) scale(0.9196);
  }
  to {
    transform: translate(25.20975vw, 100vh) scale(0.9196);
  }
}
.snow:nth-child(71) {
  opacity: 0.9019;
  transform: translate(24.5055vw, -10px) scale(0.6428);
  animation: fall-71 11s -16s linear infinite;
}
@keyframes fall-71 {
  52.62% {
    transform: translate(30.9817vw, 52.62vh) scale(0.6428);
  }
  to {
    transform: translate(27.7436vw, 100vh) scale(0.6428);
  }
}
.snow:nth-child(72) {
  opacity: 0.5513;
  transform: translate(2.5335vw, -10px) scale(0.4954);
  animation: fall-72 25s -18s linear infinite;
}
@keyframes fall-72 {
  52.669% {
    transform: translate(4.4275vw, 52.669vh) scale(0.4954);
  }
  to {
    transform: translate(3.4805vw, 100vh) scale(0.4954);
  }
}
.snow:nth-child(73) {
  opacity: 0.4631;
  transform: translate(78.1032vw, -10px) scale(0.2182);
  animation: fall-73 30s -10s linear infinite;
}
@keyframes fall-73 {
  71.136% {
    transform: translate(83.253vw, 71.136vh) scale(0.2182);
  }
  to {
    transform: translate(80.6781vw, 100vh) scale(0.2182);
  }
}
.snow:nth-child(74) {
  opacity: 0.0032;
  transform: translate(19.1116vw, -10px) scale(0.1407);
  animation: fall-74 29s -12s linear infinite;
}
@keyframes fall-74 {
  66.087% {
    transform: translate(14.6804vw, 66.087vh) scale(0.1407);
  }
  to {
    transform: translate(16.896vw, 100vh) scale(0.1407);
  }
}
.snow:nth-child(75) {
  opacity: 0.1334;
  transform: translate(90.1281vw, -10px) scale(0.0544);
  animation: fall-75 10s -29s linear infinite;
}
@keyframes fall-75 {
  63.382% {
    transform: translate(98.9362vw, 63.382vh) scale(0.0544);
  }
  to {
    transform: translate(94.53215vw, 100vh) scale(0.0544);
  }
}
.snow:nth-child(76) {
  opacity: 0.1733;
  transform: translate(84.9358vw, -10px) scale(0.9102);
  animation: fall-76 29s -12s linear infinite;
}
@keyframes fall-76 {
  52.228% {
    transform: translate(79.9218vw, 52.228vh) scale(0.9102);
  }
  to {
    transform: translate(82.4288vw, 100vh) scale(0.9102);
  }
}
.snow:nth-child(77) {
  opacity: 0.2948;
  transform: translate(54.028vw, -10px) scale(0.9983);
  animation: fall-77 15s -30s linear infinite;
}
@keyframes fall-77 {
  35.015% {
    transform: translate(52.5563vw, 35.015vh) scale(0.9983);
  }
  to {
    transform: translate(53.29215vw, 100vh) scale(0.9983);
  }
}
.snow:nth-child(78) {
  opacity: 0.3207;
  transform: translate(20.6768vw, -10px) scale(0.9737);
  animation: fall-78 23s -18s linear infinite;
}
@keyframes fall-78 {
  75.301% {
    transform: translate(12.2542vw, 75.301vh) scale(0.9737);
  }
  to {
    transform: translate(16.4655vw, 100vh) scale(0.9737);
  }
}
.snow:nth-child(79) {
  opacity: 0.5764;
  transform: translate(27.796vw, -10px) scale(0.4666);
  animation: fall-79 27s -17s linear infinite;
}
@keyframes fall-79 {
  38.302% {
    transform: translate(26.1071vw, 38.302vh) scale(0.4666);
  }
  to {
    transform: translate(26.95155vw, 100vh) scale(0.4666);
  }
}
.snow:nth-child(80) {
  opacity: 0.605;
  transform: translate(6.1832vw, -10px) scale(0.8417);
  animation: fall-80 10s -11s linear infinite;
}
@keyframes fall-80 {
  38.688% {
    transform: translate(14.2136vw, 38.688vh) scale(0.8417);
  }
  to {
    transform: translate(10.1984vw, 100vh) scale(0.8417);
  }
}
.snow:nth-child(81) {
  opacity: 0.8038;
  transform: translate(75.6157vw, -10px) scale(0.6375);
  animation: fall-81 17s -18s linear infinite;
}
@keyframes fall-81 {
  41.674% {
    transform: translate(82.6905vw, 41.674vh) scale(0.6375);
  }
  to {
    transform: translate(79.1531vw, 100vh) scale(0.6375);
  }
}
.snow:nth-child(82) {
  opacity: 0.8108;
  transform: translate(16.6499vw, -10px) scale(0.948);
  animation: fall-82 14s -4s linear infinite;
}
@keyframes fall-82 {
  32.042% {
    transform: translate(8.3927vw, 32.042vh) scale(0.948);
  }
  to {
    transform: translate(12.5213vw, 100vh) scale(0.948);
  }
}
.snow:nth-child(83) {
  opacity: 0.3131;
  transform: translate(57.659vw, -10px) scale(0.6215);
  animation: fall-83 13s -22s linear infinite;
}
@keyframes fall-83 {
  60.136% {
    transform: translate(55.5871vw, 60.136vh) scale(0.6215);
  }
  to {
    transform: translate(56.62305vw, 100vh) scale(0.6215);
  }
}
.snow:nth-child(84) {
  opacity: 0.1507;
  transform: translate(83.5217vw, -10px) scale(0.3095);
  animation: fall-84 12s -8s linear infinite;
}
@keyframes fall-84 {
  49.111% {
    transform: translate(80.5798vw, 49.111vh) scale(0.3095);
  }
  to {
    transform: translate(82.05075vw, 100vh) scale(0.3095);
  }
}
.snow:nth-child(85) {
  opacity: 0.3463;
  transform: translate(6.0598vw, -10px) scale(0.4332);
  animation: fall-85 26s -5s linear infinite;
}
@keyframes fall-85 {
  43.23% {
    transform: translate(3.6915vw, 43.23vh) scale(0.4332);
  }
  to {
    transform: translate(4.87565vw, 100vh) scale(0.4332);
  }
}
.snow:nth-child(86) {
  opacity: 0.362;
  transform: translate(89.946vw, -10px) scale(0.5673);
  animation: fall-86 28s -10s linear infinite;
}
@keyframes fall-86 {
  72.293% {
    transform: translate(96.3848vw, 72.293vh) scale(0.5673);
  }
  to {
    transform: translate(93.1654vw, 100vh) scale(0.5673);
  }
}
.snow:nth-child(87) {
  opacity: 0.2287;
  transform: translate(60.0369vw, -10px) scale(0.0798);
  animation: fall-87 27s -11s linear infinite;
}
@keyframes fall-87 {
  41.25% {
    transform: translate(53.15vw, 41.25vh) scale(0.0798);
  }
  to {
    transform: translate(56.59345vw, 100vh) scale(0.0798);
  }
}
.snow:nth-child(88) {
  opacity: 0.884;
  transform: translate(25.1751vw, -10px) scale(0.7758);
  animation: fall-88 11s -4s linear infinite;
}
@keyframes fall-88 {
  58.459% {
    transform: translate(35.0767vw, 58.459vh) scale(0.7758);
  }
  to {
    transform: translate(30.1259vw, 100vh) scale(0.7758);
  }
}
.snow:nth-child(89) {
  opacity: 0.0569;
  transform: translate(29.7689vw, -10px) scale(0.7012);
  animation: fall-89 21s -19s linear infinite;
}
@keyframes fall-89 {
  78.143% {
    transform: translate(37.2884vw, 78.143vh) scale(0.7012);
  }
  to {
    transform: translate(33.52865vw, 100vh) scale(0.7012);
  }
}
.snow:nth-child(90) {
  opacity: 0.3691;
  transform: translate(84.7795vw, -10px) scale(0.0273);
  animation: fall-90 22s -5s linear infinite;
}
@keyframes fall-90 {
  62.582% {
    transform: translate(89.4751vw, 62.582vh) scale(0.0273);
  }
  to {
    transform: translate(87.1273vw, 100vh) scale(0.0273);
  }
}
.snow:nth-child(91) {
  opacity: 0.059;
  transform: translate(77.4289vw, -10px) scale(0.6917);
  animation: fall-91 28s -24s linear infinite;
}
@keyframes fall-91 {
  53.38% {
    transform: translate(72.4488vw, 53.38vh) scale(0.6917);
  }
  to {
    transform: translate(74.93885vw, 100vh) scale(0.6917);
  }
}
.snow:nth-child(92) {
  opacity: 0.6921;
  transform: translate(1.3438vw, -10px) scale(0.4554);
  animation: fall-92 28s -3s linear infinite;
}
@keyframes fall-92 {
  42.227% {
    transform: translate(3.7006vw, 42.227vh) scale(0.4554);
  }
  to {
    transform: translate(2.5222vw, 100vh) scale(0.4554);
  }
}
.snow:nth-child(93) {
  opacity: 0.2141;
  transform: translate(17.6321vw, -10px) scale(0.8599);
  animation: fall-93 22s -1s linear infinite;
}
@keyframes fall-93 {
  54.418% {
    transform: translate(25.19vw, 54.418vh) scale(0.8599);
  }
  to {
    transform: translate(21.41105vw, 100vh) scale(0.8599);
  }
}
.snow:nth-child(94) {
  opacity: 0.3661;
  transform: translate(59.1474vw, -10px) scale(0.6817);
  animation: fall-94 22s -11s linear infinite;
}
@keyframes fall-94 {
  31.523% {
    transform: translate(58.4958vw, 31.523vh) scale(0.6817);
  }
  to {
    transform: translate(58.8216vw, 100vh) scale(0.6817);
  }
}
.snow:nth-child(95) {
  opacity: 0.858;
  transform: translate(58.6086vw, -10px) scale(0.6261);
  animation: fall-95 18s -25s linear infinite;
}
@keyframes fall-95 {
  72.627% {
    transform: translate(52.6132vw, 72.627vh) scale(0.6261);
  }
  to {
    transform: translate(55.6109vw, 100vh) scale(0.6261);
  }
}
.snow:nth-child(96) {
  opacity: 0.6908;
  transform: translate(7.9113vw, -10px) scale(0.6652);
  animation: fall-96 22s -30s linear infinite;
}
@keyframes fall-96 {
  32.006% {
    transform: translate(5.3845vw, 32.006vh) scale(0.6652);
  }
  to {
    transform: translate(6.6479vw, 100vh) scale(0.6652);
  }
}
.snow:nth-child(97) {
  opacity: 0.1818;
  transform: translate(26.3154vw, -10px) scale(0.6305);
  animation: fall-97 14s -20s linear infinite;
}
@keyframes fall-97 {
  40.908% {
    transform: translate(29.9836vw, 40.908vh) scale(0.6305);
  }
  to {
    transform: translate(28.1495vw, 100vh) scale(0.6305);
  }
}
.snow:nth-child(98) {
  opacity: 0.5276;
  transform: translate(35.5911vw, -10px) scale(0.0975);
  animation: fall-98 29s -20s linear infinite;
}
@keyframes fall-98 {
  73.913% {
    transform: translate(33.4204vw, 73.913vh) scale(0.0975);
  }
  to {
    transform: translate(34.50575vw, 100vh) scale(0.0975);
  }
}
.snow:nth-child(99) {
  opacity: 0.2689;
  transform: translate(6.5979vw, -10px) scale(0.5224);
  animation: fall-99 11s -10s linear infinite;
}
@keyframes fall-99 {
  59.617% {
    transform: translate(7.4987vw, 59.617vh) scale(0.5224);
  }
  to {
    transform: translate(7.0483vw, 100vh) scale(0.5224);
  }
}
.snow:nth-child(100) {
  opacity: 0.3566;
  transform: translate(72.3921vw, -10px) scale(0.5707);
  animation: fall-100 30s -11s linear infinite;
}
@keyframes fall-100 {
  43.069% {
    transform: translate(80.5369vw, 43.069vh) scale(0.5707);
  }
  to {
    transform: translate(76.4645vw, 100vh) scale(0.5707);
  }
}
.snow:nth-child(101) {
  opacity: 0.8528;
  transform: translate(71.4942vw, -10px) scale(0.7852);
  animation: fall-101 27s -13s linear infinite;
}
@keyframes fall-101 {
  30.256% {
    transform: translate(74.4728vw, 30.256vh) scale(0.7852);
  }
  to {
    transform: translate(72.9835vw, 100vh) scale(0.7852);
  }
}
.snow:nth-child(102) {
  opacity: 0.7188;
  transform: translate(7.9195vw, -10px) scale(0.3525);
  animation: fall-102 19s -28s linear infinite;
}
@keyframes fall-102 {
  77.823% {
    transform: translate(5.7763vw, 77.823vh) scale(0.3525);
  }
  to {
    transform: translate(6.8479vw, 100vh) scale(0.3525);
  }
}
.snow:nth-child(103) {
  opacity: 0.3781;
  transform: translate(13.4007vw, -10px) scale(0.8619);
  animation: fall-103 20s -12s linear infinite;
}
@keyframes fall-103 {
  42.388% {
    transform: translate(14.7978vw, 42.388vh) scale(0.8619);
  }
  to {
    transform: translate(14.09925vw, 100vh) scale(0.8619);
  }
}
.snow:nth-child(104) {
  opacity: 0.0099;
  transform: translate(67.8716vw, -10px) scale(0.789);
  animation: fall-104 27s -30s linear infinite;
}
@keyframes fall-104 {
  36.768% {
    transform: translate(65.1231vw, 36.768vh) scale(0.789);
  }
  to {
    transform: translate(66.49735vw, 100vh) scale(0.789);
  }
}
.snow:nth-child(105) {
  opacity: 0.4805;
  transform: translate(12.7776vw, -10px) scale(0.0684);
  animation: fall-105 19s -9s linear infinite;
}
@keyframes fall-105 {
  49.842% {
    transform: translate(8.9733vw, 49.842vh) scale(0.0684);
  }
  to {
    transform: translate(10.87545vw, 100vh) scale(0.0684);
  }
}
.snow:nth-child(106) {
  opacity: 0.3578;
  transform: translate(56.2567vw, -10px) scale(0.1802);
  animation: fall-106 25s -18s linear infinite;
}
@keyframes fall-106 {
  63.964% {
    transform: translate(46.5247vw, 63.964vh) scale(0.1802);
  }
  to {
    transform: translate(51.3907vw, 100vh) scale(0.1802);
  }
}
.snow:nth-child(107) {
  opacity: 0.8763;
  transform: translate(79.0071vw, -10px) scale(0.5264);
  animation: fall-107 15s -13s linear infinite;
}
@keyframes fall-107 {
  63.936% {
    transform: translate(84.0807vw, 63.936vh) scale(0.5264);
  }
  to {
    transform: translate(81.5439vw, 100vh) scale(0.5264);
  }
}
.snow:nth-child(108) {
  opacity: 0.9571;
  transform: translate(91.385vw, -10px) scale(0.6406);
  animation: fall-108 21s -24s linear infinite;
}
@keyframes fall-108 {
  73.761% {
    transform: translate(89.3719vw, 73.761vh) scale(0.6406);
  }
  to {
    transform: translate(90.37845vw, 100vh) scale(0.6406);
  }
}
.snow:nth-child(109) {
  opacity: 0.6743;
  transform: translate(5.9629vw, -10px) scale(0.7125);
  animation: fall-109 23s -27s linear infinite;
}
@keyframes fall-109 {
  61.9% {
    transform: translate(7.0668vw, 61.9vh) scale(0.7125);
  }
  to {
    transform: translate(6.51485vw, 100vh) scale(0.7125);
  }
}
.snow:nth-child(110) {
  opacity: 0.9409;
  transform: translate(40.8035vw, -10px) scale(0.6285);
  animation: fall-110 14s -17s linear infinite;
}
@keyframes fall-110 {
  55.556% {
    transform: translate(40.878vw, 55.556vh) scale(0.6285);
  }
  to {
    transform: translate(40.84075vw, 100vh) scale(0.6285);
  }
}
.snow:nth-child(111) {
  opacity: 0.1849;
  transform: translate(45.2892vw, -10px) scale(0.6268);
  animation: fall-111 24s -19s linear infinite;
}
@keyframes fall-111 {
  36.577% {
    transform: translate(41.1335vw, 36.577vh) scale(0.6268);
  }
  to {
    transform: translate(43.21135vw, 100vh) scale(0.6268);
  }
}
.snow:nth-child(112) {
  opacity: 0.0401;
  transform: translate(27.3906vw, -10px) scale(0.0111);
  animation: fall-112 11s -9s linear infinite;
}
@keyframes fall-112 {
  66.563% {
    transform: translate(30.0515vw, 66.563vh) scale(0.0111);
  }
  to {
    transform: translate(28.72105vw, 100vh) scale(0.0111);
  }
}
.snow:nth-child(113) {
  opacity: 0.1072;
  transform: translate(78.8514vw, -10px) scale(0.8275);
  animation: fall-113 16s -14s linear infinite;
}
@keyframes fall-113 {
  61.129% {
    transform: translate(82.0619vw, 61.129vh) scale(0.8275);
  }
  to {
    transform: translate(80.45665vw, 100vh) scale(0.8275);
  }
}
.snow:nth-child(114) {
  opacity: 0.8085;
  transform: translate(26.4712vw, -10px) scale(0.3858);
  animation: fall-114 28s -9s linear infinite;
}
@keyframes fall-114 {
  49.703% {
    transform: translate(26.3339vw, 49.703vh) scale(0.3858);
  }
  to {
    transform: translate(26.40255vw, 100vh) scale(0.3858);
  }
}
.snow:nth-child(115) {
  opacity: 0.431;
  transform: translate(72.0834vw, -10px) scale(0.924);
  animation: fall-115 22s -12s linear infinite;
}
@keyframes fall-115 {
  39.911% {
    transform: translate(76.7656vw, 39.911vh) scale(0.924);
  }
  to {
    transform: translate(74.4245vw, 100vh) scale(0.924);
  }
}
.snow:nth-child(116) {
  opacity: 0.5583;
  transform: translate(82.7547vw, -10px) scale(0.5776);
  animation: fall-116 21s -5s linear infinite;
}
@keyframes fall-116 {
  44.633% {
    transform: translate(88.0094vw, 44.633vh) scale(0.5776);
  }
  to {
    transform: translate(85.38205vw, 100vh) scale(0.5776);
  }
}
.snow:nth-child(117) {
  opacity: 0.4946;
  transform: translate(94.5009vw, -10px) scale(0.2177);
  animation: fall-117 14s -30s linear infinite;
}
@keyframes fall-117 {
  41.378% {
    transform: translate(85.8478vw, 41.378vh) scale(0.2177);
  }
  to {
    transform: translate(90.17435vw, 100vh) scale(0.2177);
  }
}
.snow:nth-child(118) {
  opacity: 0.2397;
  transform: translate(13.539vw, -10px) scale(0.9988);
  animation: fall-118 10s -8s linear infinite;
}
@keyframes fall-118 {
  36.885% {
    transform: translate(22.8916vw, 36.885vh) scale(0.9988);
  }
  to {
    transform: translate(18.2153vw, 100vh) scale(0.9988);
  }
}
.snow:nth-child(119) {
  opacity: 0.1887;
  transform: translate(99.9246vw, -10px) scale(0.7303);
  animation: fall-119 11s -26s linear infinite;
}
@keyframes fall-119 {
  60.43% {
    transform: translate(104.2025vw, 60.43vh) scale(0.7303);
  }
  to {
    transform: translate(102.06355vw, 100vh) scale(0.7303);
  }
}
.snow:nth-child(120) {
  opacity: 0.8593;
  transform: translate(66.6401vw, -10px) scale(0.5907);
  animation: fall-120 15s -29s linear infinite;
}
@keyframes fall-120 {
  47.545% {
    transform: translate(69.3062vw, 47.545vh) scale(0.5907);
  }
  to {
    transform: translate(67.97315vw, 100vh) scale(0.5907);
  }
}
.snow:nth-child(121) {
  opacity: 0.5656;
  transform: translate(43.832vw, -10px) scale(0.5812);
  animation: fall-121 22s -13s linear infinite;
}
@keyframes fall-121 {
  47.399% {
    transform: translate(45.1178vw, 47.399vh) scale(0.5812);
  }
  to {
    transform: translate(44.4749vw, 100vh) scale(0.5812);
  }
}
.snow:nth-child(122) {
  opacity: 0.1612;
  transform: translate(12.795vw, -10px) scale(0.5767);
  animation: fall-122 30s -30s linear infinite;
}
@keyframes fall-122 {
  65.355% {
    transform: translate(18.2818vw, 65.355vh) scale(0.5767);
  }
  to {
    transform: translate(15.5384vw, 100vh) scale(0.5767);
  }
}
.snow:nth-child(123) {
  opacity: 0.9433;
  transform: translate(55.6262vw, -10px) scale(0.5393);
  animation: fall-123 11s -24s linear infinite;
}
@keyframes fall-123 {
  72.685% {
    transform: translate(63.4763vw, 72.685vh) scale(0.5393);
  }
  to {
    transform: translate(59.55125vw, 100vh) scale(0.5393);
  }
}
.snow:nth-child(124) {
  opacity: 0.3138;
  transform: translate(87.55vw, -10px) scale(0.2474);
  animation: fall-124 29s -4s linear infinite;
}
@keyframes fall-124 {
  39.145% {
    transform: translate(92.9338vw, 39.145vh) scale(0.2474);
  }
  to {
    transform: translate(90.2419vw, 100vh) scale(0.2474);
  }
}
.snow:nth-child(125) {
  opacity: 0.5961;
  transform: translate(13.7301vw, -10px) scale(0.7636);
  animation: fall-125 26s -23s linear infinite;
}
@keyframes fall-125 {
  60.632% {
    transform: translate(14.7964vw, 60.632vh) scale(0.7636);
  }
  to {
    transform: translate(14.26325vw, 100vh) scale(0.7636);
  }
}
.snow:nth-child(126) {
  opacity: 0.4867;
  transform: translate(93.2887vw, -10px) scale(0.598);
  animation: fall-126 26s -20s linear infinite;
}
@keyframes fall-126 {
  56.449% {
    transform: translate(88.5374vw, 56.449vh) scale(0.598);
  }
  to {
    transform: translate(90.91305vw, 100vh) scale(0.598);
  }
}
.snow:nth-child(127) {
  opacity: 0.1349;
  transform: translate(86.6016vw, -10px) scale(0.4893);
  animation: fall-127 13s -29s linear infinite;
}
@keyframes fall-127 {
  34.568% {
    transform: translate(83.5313vw, 34.568vh) scale(0.4893);
  }
  to {
    transform: translate(85.06645vw, 100vh) scale(0.4893);
  }
}
.snow:nth-child(128) {
  opacity: 0.0595;
  transform: translate(53.6144vw, -10px) scale(0.7173);
  animation: fall-128 28s -11s linear infinite;
}
@keyframes fall-128 {
  58.722% {
    transform: translate(56.7763vw, 58.722vh) scale(0.7173);
  }
  to {
    transform: translate(55.19535vw, 100vh) scale(0.7173);
  }
}
.snow:nth-child(129) {
  opacity: 0.3272;
  transform: translate(53.1049vw, -10px) scale(0.2908);
  animation: fall-129 10s -20s linear infinite;
}
@keyframes fall-129 {
  31.131% {
    transform: translate(61.7586vw, 31.131vh) scale(0.2908);
  }
  to {
    transform: translate(57.43175vw, 100vh) scale(0.2908);
  }
}
.snow:nth-child(130) {
  opacity: 0.4248;
  transform: translate(21.1172vw, -10px) scale(0.6075);
  animation: fall-130 22s -30s linear infinite;
}
@keyframes fall-130 {
  72.873% {
    transform: translate(19.5263vw, 72.873vh) scale(0.6075);
  }
  to {
    transform: translate(20.32175vw, 100vh) scale(0.6075);
  }
}
.snow:nth-child(131) {
  opacity: 0.1391;
  transform: translate(77.1248vw, -10px) scale(0.4948);
  animation: fall-131 10s -19s linear infinite;
}
@keyframes fall-131 {
  64.51% {
    transform: translate(78.1769vw, 64.51vh) scale(0.4948);
  }
  to {
    transform: translate(77.65085vw, 100vh) scale(0.4948);
  }
}
.snow:nth-child(132) {
  opacity: 0.0143;
  transform: translate(9.485vw, -10px) scale(0.4842);
  animation: fall-132 19s -21s linear infinite;
}
@keyframes fall-132 {
  53.136% {
    transform: translate(7.8226vw, 53.136vh) scale(0.4842);
  }
  to {
    transform: translate(8.6538vw, 100vh) scale(0.4842);
  }
}
.snow:nth-child(133) {
  opacity: 0.8288;
  transform: translate(37.932vw, -10px) scale(0.3583);
  animation: fall-133 26s -18s linear infinite;
}
@keyframes fall-133 {
  77.059% {
    transform: translate(34.6429vw, 77.059vh) scale(0.3583);
  }
  to {
    transform: translate(36.28745vw, 100vh) scale(0.3583);
  }
}
.snow:nth-child(134) {
  opacity: 0.7059;
  transform: translate(18.9508vw, -10px) scale(0.1628);
  animation: fall-134 10s -8s linear infinite;
}
@keyframes fall-134 {
  60.627% {
    transform: translate(26.6699vw, 60.627vh) scale(0.1628);
  }
  to {
    transform: translate(22.81035vw, 100vh) scale(0.1628);
  }
}
.snow:nth-child(135) {
  opacity: 0.1323;
  transform: translate(37.4839vw, -10px) scale(0.3678);
  animation: fall-135 15s -3s linear infinite;
}
@keyframes fall-135 {
  54.306% {
    transform: translate(38.461vw, 54.306vh) scale(0.3678);
  }
  to {
    transform: translate(37.97245vw, 100vh) scale(0.3678);
  }
}
.snow:nth-child(136) {
  opacity: 0.4164;
  transform: translate(86.2844vw, -10px) scale(0.204);
  animation: fall-136 28s -11s linear infinite;
}
@keyframes fall-136 {
  50.923% {
    transform: translate(96.1541vw, 50.923vh) scale(0.204);
  }
  to {
    transform: translate(91.21925vw, 100vh) scale(0.204);
  }
}
.snow:nth-child(137) {
  opacity: 0.9337;
  transform: translate(89.3329vw, -10px) scale(0.1636);
  animation: fall-137 15s -8s linear infinite;
}
@keyframes fall-137 {
  39.227% {
    transform: translate(96.1969vw, 39.227vh) scale(0.1636);
  }
  to {
    transform: translate(92.7649vw, 100vh) scale(0.1636);
  }
}
.snow:nth-child(138) {
  opacity: 0.6691;
  transform: translate(67.1764vw, -10px) scale(0.9469);
  animation: fall-138 15s -21s linear infinite;
}
@keyframes fall-138 {
  36.225% {
    transform: translate(66.5837vw, 36.225vh) scale(0.9469);
  }
  to {
    transform: translate(66.88005vw, 100vh) scale(0.9469);
  }
}
.snow:nth-child(139) {
  opacity: 0.1986;
  transform: translate(88.9126vw, -10px) scale(0.6494);
  animation: fall-139 25s -24s linear infinite;
}
@keyframes fall-139 {
  43.76% {
    transform: translate(93.9447vw, 43.76vh) scale(0.6494);
  }
  to {
    transform: translate(91.42865vw, 100vh) scale(0.6494);
  }
}
.snow:nth-child(140) {
  opacity: 0.1852;
  transform: translate(77.3899vw, -10px) scale(0.8939);
  animation: fall-140 11s -23s linear infinite;
}
@keyframes fall-140 {
  39.383% {
    transform: translate(77.5858vw, 39.383vh) scale(0.8939);
  }
  to {
    transform: translate(77.48785vw, 100vh) scale(0.8939);
  }
}
.snow:nth-child(141) {
  opacity: 0.566;
  transform: translate(84.188vw, -10px) scale(0.2436);
  animation: fall-141 21s -19s linear infinite;
}
@keyframes fall-141 {
  71.967% {
    transform: translate(77.1388vw, 71.967vh) scale(0.2436);
  }
  to {
    transform: translate(80.6634vw, 100vh) scale(0.2436);
  }
}
.snow:nth-child(142) {
  opacity: 0.3559;
  transform: translate(66.7128vw, -10px) scale(0.0268);
  animation: fall-142 28s -6s linear infinite;
}
@keyframes fall-142 {
  54.434% {
    transform: translate(73.5643vw, 54.434vh) scale(0.0268);
  }
  to {
    transform: translate(70.13855vw, 100vh) scale(0.0268);
  }
}
.snow:nth-child(143) {
  opacity: 0.4432;
  transform: translate(76.629vw, -10px) scale(0.4339);
  animation: fall-143 27s -17s linear infinite;
}
@keyframes fall-143 {
  63.928% {
    transform: translate(80.1796vw, 63.928vh) scale(0.4339);
  }
  to {
    transform: translate(78.4043vw, 100vh) scale(0.4339);
  }
}
.snow:nth-child(144) {
  opacity: 0.1695;
  transform: translate(69.5815vw, -10px) scale(0.4308);
  animation: fall-144 30s -14s linear infinite;
}
@keyframes fall-144 {
  57.075% {
    transform: translate(69.9146vw, 57.075vh) scale(0.4308);
  }
  to {
    transform: translate(69.74805vw, 100vh) scale(0.4308);
  }
}
.snow:nth-child(145) {
  opacity: 0.8228;
  transform: translate(81.6624vw, -10px) scale(0.2801);
  animation: fall-145 11s -5s linear infinite;
}
@keyframes fall-145 {
  66.35% {
    transform: translate(73.8041vw, 66.35vh) scale(0.2801);
  }
  to {
    transform: translate(77.73325vw, 100vh) scale(0.2801);
  }
}
.snow:nth-child(146) {
  opacity: 0.6015;
  transform: translate(91.1863vw, -10px) scale(0.9205);
  animation: fall-146 28s -28s linear infinite;
}
@keyframes fall-146 {
  67.469% {
    transform: translate(84.1907vw, 67.469vh) scale(0.9205);
  }
  to {
    transform: translate(87.6885vw, 100vh) scale(0.9205);
  }
}
.snow:nth-child(147) {
  opacity: 0.8312;
  transform: translate(83.0652vw, -10px) scale(0.8838);
  animation: fall-147 21s -25s linear infinite;
}
@keyframes fall-147 {
  52.404% {
    transform: translate(77.1582vw, 52.404vh) scale(0.8838);
  }
  to {
    transform: translate(80.1117vw, 100vh) scale(0.8838);
  }
}
.snow:nth-child(148) {
  opacity: 0.4437;
  transform: translate(32.4227vw, -10px) scale(0.661);
  animation: fall-148 17s -30s linear infinite;
}
@keyframes fall-148 {
  34.208% {
    transform: translate(23.8144vw, 34.208vh) scale(0.661);
  }
  to {
    transform: translate(28.11855vw, 100vh) scale(0.661);
  }
}
.snow:nth-child(149) {
  opacity: 0.6337;
  transform: translate(77.5186vw, -10px) scale(0.7043);
  animation: fall-149 13s -26s linear infinite;
}
@keyframes fall-149 {
  56.439% {
    transform: translate(82.3978vw, 56.439vh) scale(0.7043);
  }
  to {
    transform: translate(79.9582vw, 100vh) scale(0.7043);
  }
}
.snow:nth-child(150) {
  opacity: 0.6163;
  transform: translate(86.4773vw, -10px) scale(0.7427);
  animation: fall-150 27s -19s linear infinite;
}
@keyframes fall-150 {
  31.322% {
    transform: translate(90.9752vw, 31.322vh) scale(0.7427);
  }
  to {
    transform: translate(88.72625vw, 100vh) scale(0.7427);
  }
}
.snow:nth-child(151) {
  opacity: 0.2325;
  transform: translate(0.0233vw, -10px) scale(0.6912);
  animation: fall-151 26s -22s linear infinite;
}
@keyframes fall-151 {
  45.114% {
    transform: translate(8.8133vw, 45.114vh) scale(0.6912);
  }
  to {
    transform: translate(4.4183vw, 100vh) scale(0.6912);
  }
}
.snow:nth-child(152) {
  opacity: 0.0801;
  transform: translate(48.0353vw, -10px) scale(0.0514);
  animation: fall-152 16s -3s linear infinite;
}
@keyframes fall-152 {
  76.758% {
    transform: translate(39.3832vw, 76.758vh) scale(0.0514);
  }
  to {
    transform: translate(43.70925vw, 100vh) scale(0.0514);
  }
}
.snow:nth-child(153) {
  opacity: 0.8166;
  transform: translate(21.0147vw, -10px) scale(0.5096);
  animation: fall-153 17s -1s linear infinite;
}
@keyframes fall-153 {
  42.665% {
    transform: translate(21.715vw, 42.665vh) scale(0.5096);
  }
  to {
    transform: translate(21.36485vw, 100vh) scale(0.5096);
  }
}
.snow:nth-child(154) {
  opacity: 0.1255;
  transform: translate(50.1473vw, -10px) scale(0.3339);
  animation: fall-154 29s -27s linear infinite;
}
@keyframes fall-154 {
  39.49% {
    transform: translate(40.9753vw, 39.49vh) scale(0.3339);
  }
  to {
    transform: translate(45.5613vw, 100vh) scale(0.3339);
  }
}
.snow:nth-child(155) {
  opacity: 0.8377;
  transform: translate(35.5118vw, -10px) scale(0.1155);
  animation: fall-155 14s -19s linear infinite;
}
@keyframes fall-155 {
  54.863% {
    transform: translate(38.056vw, 54.863vh) scale(0.1155);
  }
  to {
    transform: translate(36.7839vw, 100vh) scale(0.1155);
  }
}
.snow:nth-child(156) {
  opacity: 0.9648;
  transform: translate(55.5223vw, -10px) scale(0.3462);
  animation: fall-156 10s -16s linear infinite;
}
@keyframes fall-156 {
  40.186% {
    transform: translate(58.9452vw, 40.186vh) scale(0.3462);
  }
  to {
    transform: translate(57.23375vw, 100vh) scale(0.3462);
  }
}
.snow:nth-child(157) {
  opacity: 0.2325;
  transform: translate(7.2766vw, -10px) scale(0.7351);
  animation: fall-157 13s -20s linear infinite;
}
@keyframes fall-157 {
  36.796% {
    transform: translate(8.2891vw, 36.796vh) scale(0.7351);
  }
  to {
    transform: translate(7.78285vw, 100vh) scale(0.7351);
  }
}
.snow:nth-child(158) {
  opacity: 0.1418;
  transform: translate(98.8637vw, -10px) scale(0.4498);
  animation: fall-158 24s -7s linear infinite;
}
@keyframes fall-158 {
  36.88% {
    transform: translate(100.4559vw, 36.88vh) scale(0.4498);
  }
  to {
    transform: translate(99.6598vw, 100vh) scale(0.4498);
  }
}
.snow:nth-child(159) {
  opacity: 0.3992;
  transform: translate(81.3832vw, -10px) scale(0.4747);
  animation: fall-159 28s -24s linear infinite;
}
@keyframes fall-159 {
  46.214% {
    transform: translate(74.6618vw, 46.214vh) scale(0.4747);
  }
  to {
    transform: translate(78.0225vw, 100vh) scale(0.4747);
  }
}
.snow:nth-child(160) {
  opacity: 0.0836;
  transform: translate(99.3108vw, -10px) scale(0.8857);
  animation: fall-160 21s -27s linear infinite;
}
@keyframes fall-160 {
  54.287% {
    transform: translate(103.9228vw, 54.287vh) scale(0.8857);
  }
  to {
    transform: translate(101.6168vw, 100vh) scale(0.8857);
  }
}
.snow:nth-child(161) {
  opacity: 0.0453;
  transform: translate(8.6578vw, -10px) scale(0.195);
  animation: fall-161 18s -27s linear infinite;
}
@keyframes fall-161 {
  75.747% {
    transform: translate(11.2038vw, 75.747vh) scale(0.195);
  }
  to {
    transform: translate(9.9308vw, 100vh) scale(0.195);
  }
}
.snow:nth-child(162) {
  opacity: 0.7172;
  transform: translate(71.4015vw, -10px) scale(0.6574);
  animation: fall-162 29s -8s linear infinite;
}
@keyframes fall-162 {
  68.272% {
    transform: translate(75.1579vw, 68.272vh) scale(0.6574);
  }
  to {
    transform: translate(73.2797vw, 100vh) scale(0.6574);
  }
}
.snow:nth-child(163) {
  opacity: 0.0352;
  transform: translate(19.6269vw, -10px) scale(0.4099);
  animation: fall-163 19s -27s linear infinite;
}
@keyframes fall-163 {
  39.061% {
    transform: translate(20.4277vw, 39.061vh) scale(0.4099);
  }
  to {
    transform: translate(20.0273vw, 100vh) scale(0.4099);
  }
}
.snow:nth-child(164) {
  opacity: 0.4528;
  transform: translate(97.7433vw, -10px) scale(0.4945);
  animation: fall-164 23s -5s linear infinite;
}
@keyframes fall-164 {
  30.535% {
    transform: translate(88.2414vw, 30.535vh) scale(0.4945);
  }
  to {
    transform: translate(92.99235vw, 100vh) scale(0.4945);
  }
}
.snow:nth-child(165) {
  opacity: 0.815;
  transform: translate(10.4611vw, -10px) scale(0.3572);
  animation: fall-165 11s -21s linear infinite;
}
@keyframes fall-165 {
  76.384% {
    transform: translate(15.9369vw, 76.384vh) scale(0.3572);
  }
  to {
    transform: translate(13.199vw, 100vh) scale(0.3572);
  }
}
.snow:nth-child(166) {
  opacity: 0.3716;
  transform: translate(33.4431vw, -10px) scale(0.3548);
  animation: fall-166 14s -27s linear infinite;
}
@keyframes fall-166 {
  39.703% {
    transform: translate(39.6959vw, 39.703vh) scale(0.3548);
  }
  to {
    transform: translate(36.5695vw, 100vh) scale(0.3548);
  }
}
.snow:nth-child(167) {
  opacity: 0.8018;
  transform: translate(11.858vw, -10px) scale(0.4181);
  animation: fall-167 25s -18s linear infinite;
}
@keyframes fall-167 {
  52.172% {
    transform: translate(18.2687vw, 52.172vh) scale(0.4181);
  }
  to {
    transform: translate(15.06335vw, 100vh) scale(0.4181);
  }
}
.snow:nth-child(168) {
  opacity: 0.0119;
  transform: translate(87.4673vw, -10px) scale(0.2744);
  animation: fall-168 11s -1s linear infinite;
}
@keyframes fall-168 {
  72.276% {
    transform: translate(95.3255vw, 72.276vh) scale(0.2744);
  }
  to {
    transform: translate(91.3964vw, 100vh) scale(0.2744);
  }
}
.snow:nth-child(169) {
  opacity: 0.418;
  transform: translate(81.692vw, -10px) scale(0.1319);
  animation: fall-169 22s -15s linear infinite;
}
@keyframes fall-169 {
  59.119% {
    transform: translate(82.6261vw, 59.119vh) scale(0.1319);
  }
  to {
    transform: translate(82.15905vw, 100vh) scale(0.1319);
  }
}
.snow:nth-child(170) {
  opacity: 0.5666;
  transform: translate(91.2838vw, -10px) scale(0.2073);
  animation: fall-170 25s -6s linear infinite;
}
@keyframes fall-170 {
  61.375% {
    transform: translate(95.1295vw, 61.375vh) scale(0.2073);
  }
  to {
    transform: translate(93.20665vw, 100vh) scale(0.2073);
  }
}
.snow:nth-child(171) {
  opacity: 0.2282;
  transform: translate(27.1771vw, -10px) scale(0.9854);
  animation: fall-171 29s -23s linear infinite;
}
@keyframes fall-171 {
  63.114% {
    transform: translate(34.6524vw, 63.114vh) scale(0.9854);
  }
  to {
    transform: translate(30.91475vw, 100vh) scale(0.9854);
  }
}
.snow:nth-child(172) {
  opacity: 0.9859;
  transform: translate(56.3999vw, -10px) scale(0.4679);
  animation: fall-172 13s -7s linear infinite;
}
@keyframes fall-172 {
  70.437% {
    transform: translate(56.7613vw, 70.437vh) scale(0.4679);
  }
  to {
    transform: translate(56.5806vw, 100vh) scale(0.4679);
  }
}
.snow:nth-child(173) {
  opacity: 0.8049;
  transform: translate(0.0615vw, -10px) scale(0.8689);
  animation: fall-173 13s -14s linear infinite;
}
@keyframes fall-173 {
  54.158% {
    transform: translate(5.2459vw, 54.158vh) scale(0.8689);
  }
  to {
    transform: translate(2.6537vw, 100vh) scale(0.8689);
  }
}
.snow:nth-child(174) {
  opacity: 0.4786;
  transform: translate(17.8742vw, -10px) scale(0.8165);
  animation: fall-174 23s -24s linear infinite;
}
@keyframes fall-174 {
  61.116% {
    transform: translate(20.2591vw, 61.116vh) scale(0.8165);
  }
  to {
    transform: translate(19.06665vw, 100vh) scale(0.8165);
  }
}
.snow:nth-child(175) {
  opacity: 0.3515;
  transform: translate(7.9281vw, -10px) scale(0.1128);
  animation: fall-175 28s -27s linear infinite;
}
@keyframes fall-175 {
  57.394% {
    transform: translate(13.6411vw, 57.394vh) scale(0.1128);
  }
  to {
    transform: translate(10.7846vw, 100vh) scale(0.1128);
  }
}
.snow:nth-child(176) {
  opacity: 0.7127;
  transform: translate(98.8888vw, -10px) scale(0.8622);
  animation: fall-176 17s -29s linear infinite;
}
@keyframes fall-176 {
  79.014% {
    transform: translate(92.7227vw, 79.014vh) scale(0.8622);
  }
  to {
    transform: translate(95.80575vw, 100vh) scale(0.8622);
  }
}
.snow:nth-child(177) {
  opacity: 0.7035;
  transform: translate(71.6419vw, -10px) scale(0.9422);
  animation: fall-177 30s -16s linear infinite;
}
@keyframes fall-177 {
  54.911% {
    transform: translate(67.119vw, 54.911vh) scale(0.9422);
  }
  to {
    transform: translate(69.38045vw, 100vh) scale(0.9422);
  }
}
.snow:nth-child(178) {
  opacity: 0.1467;
  transform: translate(20.1247vw, -10px) scale(0.5096);
  animation: fall-178 20s -28s linear infinite;
}
@keyframes fall-178 {
  68.375% {
    transform: translate(12.5742vw, 68.375vh) scale(0.5096);
  }
  to {
    transform: translate(16.34945vw, 100vh) scale(0.5096);
  }
}
.snow:nth-child(179) {
  opacity: 0.0546;
  transform: translate(10.1413vw, -10px) scale(0.8266);
  animation: fall-179 10s -23s linear infinite;
}
@keyframes fall-179 {
  46.834% {
    transform: translate(15.8848vw, 46.834vh) scale(0.8266);
  }
  to {
    transform: translate(13.01305vw, 100vh) scale(0.8266);
  }
}
.snow:nth-child(180) {
  opacity: 0.5539;
  transform: translate(23.9079vw, -10px) scale(0.0243);
  animation: fall-180 13s -24s linear infinite;
}
@keyframes fall-180 {
  42.479% {
    transform: translate(26.5202vw, 42.479vh) scale(0.0243);
  }
  to {
    transform: translate(25.21405vw, 100vh) scale(0.0243);
  }
}
.snow:nth-child(181) {
  opacity: 0.193;
  transform: translate(64.5486vw, -10px) scale(0.6209);
  animation: fall-181 24s -22s linear infinite;
}
@keyframes fall-181 {
  41.363% {
    transform: translate(55.7807vw, 41.363vh) scale(0.6209);
  }
  to {
    transform: translate(60.16465vw, 100vh) scale(0.6209);
  }
}
.snow:nth-child(182) {
  opacity: 0.9628;
  transform: translate(18.4038vw, -10px) scale(0.7256);
  animation: fall-182 16s -8s linear infinite;
}
@keyframes fall-182 {
  70.044% {
    transform: translate(20.7336vw, 70.044vh) scale(0.7256);
  }
  to {
    transform: translate(19.5687vw, 100vh) scale(0.7256);
  }
}
.snow:nth-child(183) {
  opacity: 0.3742;
  transform: translate(93.6462vw, -10px) scale(0.9411);
  animation: fall-183 17s -28s linear infinite;
}
@keyframes fall-183 {
  52.779% {
    transform: translate(90.2164vw, 52.779vh) scale(0.9411);
  }
  to {
    transform: translate(91.9313vw, 100vh) scale(0.9411);
  }
}
.snow:nth-child(184) {
  opacity: 0.0517;
  transform: translate(30.0668vw, -10px) scale(0.9913);
  animation: fall-184 28s -15s linear infinite;
}
@keyframes fall-184 {
  62.436% {
    transform: translate(36.9788vw, 62.436vh) scale(0.9913);
  }
  to {
    transform: translate(33.5228vw, 100vh) scale(0.9913);
  }
}
.snow:nth-child(185) {
  opacity: 0.6528;
  transform: translate(77.9066vw, -10px) scale(0.5301);
  animation: fall-185 25s -18s linear infinite;
}
@keyframes fall-185 {
  34.782% {
    transform: translate(84.3359vw, 34.782vh) scale(0.5301);
  }
  to {
    transform: translate(81.12125vw, 100vh) scale(0.5301);
  }
}
.snow:nth-child(186) {
  opacity: 0.3287;
  transform: translate(17.38vw, -10px) scale(0.9006);
  animation: fall-186 25s -9s linear infinite;
}
@keyframes fall-186 {
  53.806% {
    transform: translate(19.457vw, 53.806vh) scale(0.9006);
  }
  to {
    transform: translate(18.4185vw, 100vh) scale(0.9006);
  }
}
.snow:nth-child(187) {
  opacity: 0.1631;
  transform: translate(73.2822vw, -10px) scale(0.3051);
  animation: fall-187 20s -30s linear infinite;
}
@keyframes fall-187 {
  50.741% {
    transform: translate(79.0368vw, 50.741vh) scale(0.3051);
  }
  to {
    transform: translate(76.1595vw, 100vh) scale(0.3051);
  }
}
.snow:nth-child(188) {
  opacity: 0.5325;
  transform: translate(89.2533vw, -10px) scale(0.396);
  animation: fall-188 20s -8s linear infinite;
}
@keyframes fall-188 {
  61.283% {
    transform: translate(82.2544vw, 61.283vh) scale(0.396);
  }
  to {
    transform: translate(85.75385vw, 100vh) scale(0.396);
  }
}
.snow:nth-child(189) {
  opacity: 0.6115;
  transform: translate(81.1164vw, -10px) scale(0.2406);
  animation: fall-189 29s -6s linear infinite;
}
@keyframes fall-189 {
  67.27% {
    transform: translate(88.8725vw, 67.27vh) scale(0.2406);
  }
  to {
    transform: translate(84.99445vw, 100vh) scale(0.2406);
  }
}
.snow:nth-child(190) {
  opacity: 0.0502;
  transform: translate(47.6858vw, -10px) scale(0.4566);
  animation: fall-190 21s -24s linear infinite;
}
@keyframes fall-190 {
  50.647% {
    transform: translate(56.6676vw, 50.647vh) scale(0.4566);
  }
  to {
    transform: translate(52.1767vw, 100vh) scale(0.4566);
  }
}
.snow:nth-child(191) {
  opacity: 0.7086;
  transform: translate(81.4735vw, -10px) scale(0.0212);
  animation: fall-191 10s -8s linear infinite;
}
@keyframes fall-191 {
  73.24% {
    transform: translate(88.7007vw, 73.24vh) scale(0.0212);
  }
  to {
    transform: translate(85.0871vw, 100vh) scale(0.0212);
  }
}
.snow:nth-child(192) {
  opacity: 0.0335;
  transform: translate(4.9382vw, -10px) scale(0.1758);
  animation: fall-192 14s -15s linear infinite;
}
@keyframes fall-192 {
  36.52% {
    transform: translate(7.2191vw, 36.52vh) scale(0.1758);
  }
  to {
    transform: translate(6.07865vw, 100vh) scale(0.1758);
  }
}
.snow:nth-child(193) {
  opacity: 0.4378;
  transform: translate(45.5772vw, -10px) scale(0.0522);
  animation: fall-193 30s -20s linear infinite;
}
@keyframes fall-193 {
  43.407% {
    transform: translate(50.547vw, 43.407vh) scale(0.0522);
  }
  to {
    transform: translate(48.0621vw, 100vh) scale(0.0522);
  }
}
.snow:nth-child(194) {
  opacity: 0.5161;
  transform: translate(24.0812vw, -10px) scale(0.445);
  animation: fall-194 20s -6s linear infinite;
}
@keyframes fall-194 {
  44.235% {
    transform: translate(30.6435vw, 44.235vh) scale(0.445);
  }
  to {
    transform: translate(27.36235vw, 100vh) scale(0.445);
  }
}
.snow:nth-child(195) {
  opacity: 0.655;
  transform: translate(92.0656vw, -10px) scale(0.2078);
  animation: fall-195 17s -30s linear infinite;
}
@keyframes fall-195 {
  51.29% {
    transform: translate(94.9477vw, 51.29vh) scale(0.2078);
  }
  to {
    transform: translate(93.50665vw, 100vh) scale(0.2078);
  }
}
.snow:nth-child(196) {
  opacity: 0.1775;
  transform: translate(52.7451vw, -10px) scale(0.8344);
  animation: fall-196 14s -24s linear infinite;
}
@keyframes fall-196 {
  42.246% {
    transform: translate(47.3177vw, 42.246vh) scale(0.8344);
  }
  to {
    transform: translate(50.0314vw, 100vh) scale(0.8344);
  }
}
.snow:nth-child(197) {
  opacity: 0.8924;
  transform: translate(19.0749vw, -10px) scale(0.5449);
  animation: fall-197 11s -15s linear infinite;
}
@keyframes fall-197 {
  31.627% {
    transform: translate(19.5961vw, 31.627vh) scale(0.5449);
  }
  to {
    transform: translate(19.3355vw, 100vh) scale(0.5449);
  }
}
.snow:nth-child(198) {
  opacity: 0.298;
  transform: translate(56.8314vw, -10px) scale(0.0041);
  animation: fall-198 11s -11s linear infinite;
}
@keyframes fall-198 {
  75.671% {
    transform: translate(50.9855vw, 75.671vh) scale(0.0041);
  }
  to {
    transform: translate(53.90845vw, 100vh) scale(0.0041);
  }
}
.snow:nth-child(199) {
  opacity: 0.1676;
  transform: translate(21.6439vw, -10px) scale(0.4855);
  animation: fall-199 21s -17s linear infinite;
}
@keyframes fall-199 {
  31.367% {
    transform: translate(11.7294vw, 31.367vh) scale(0.4855);
  }
  to {
    transform: translate(16.68665vw, 100vh) scale(0.4855);
  }
}
.snow:nth-child(200) {
  opacity: 0.1619;
  transform: translate(63.1806vw, -10px) scale(0.0803);
  animation: fall-200 15s -11s linear infinite;
}
@keyframes fall-200 {
  59.753% {
    transform: translate(58.4077vw, 59.753vh) scale(0.0803);
  }
  to {
    transform: translate(60.79415vw, 100vh) scale(0.0803);
  }
}
