@charset "utf-8";
.Fuente_titulo {
font-family: 'Maven Pro', sans-serif;
	font-weight: 700;
	font-size: 30pt;
}
.Fuente_subtitulo {
	text-align: left;
font-family: 'Maven Pro', sans-serif;
	font-size: 20pt;
	font-weight: 700;
	color: #333;
}
.Fuente_subtitulo_center {
	text-align: center;
font-family: 'Maven Pro', sans-serif;
	font-size: 20pt;
	font-weight: 700;
	color: #333;
}
.Fuente_subtitulo_18 {
	text-align: center;
font-family: 'Maven Pro', sans-serif;
	font-size: 18pt;
	font-weight: 700;
	color: #333;
}
.Fuente_min_subtitulo {
font-family: 'Maven Pro', sans-serif;
	font-size: 16pt;
	font-weight: 700;
	color: #333;
}
.Fuente_texto_grande {
font-family: 'Maven Pro', sans-serif;
	font-size: 19pt;
	color: #333;
	line-height: 24pt;
	
	font-weight: 300;
}
.Fuente_texto {
	line-height: 20pt;
font-family: 'Maven Pro', sans-serif;
	font-size: 13pt;
	color: #333;
	font-weight: 300;
}
.Fuente_negrita {
	font-weight: 700;
}
.Fuente_subrayado {
	text-decoration: underline;
}
.Fuente_menu {
font-family: 'Maven Pro', sans-serif;
	font-size: 24pt;
	color: #D3E4E3;

}


.Fuente_Titulo_pie {
font-family: 'Maven Pro', sans-serif;
	font-size: 14pt;
	color: #CCC;
	font-weight: 700;
}

.Fuente_Texto_pie {
	padding-top:20px;
font-family: 'Maven Pro', sans-serif;
	font-size: 12pt;
	color: #666;
	font-weight: 500;
	
	line-height: 24pt;
}

.texto_padding {
	padding-top: 20px;
	padding-right: 40px;
	
}
.texto_padding_poco {
	padding-top: 20px;
	padding-right: 20px;
	
}
.Subrayado {
    border-bottom: solid 2px ;
    margin-left:20px;
    margin-right:20px;
    
	
}

.Texto_puntos{
    margin-left:35px;
    	line-height: 20pt;
font-family: 'Maven Pro', sans-serif;
	font-size: 13pt;
	color: #333;
    margin-top:10px;
    line-height: 25pt;
    
}

A {text-decoration: none;}